@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<CLINICA_CRUD.Models.Discapacidad>

@{
    ViewData["Title"] = "Discapacidad";
}

@if (SignInManager.IsSignedIn(User))
{
    <h1>Discapacidades</h1>

    <p>
        <a class="boton new" asp-action="Create">Crear nuevo</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.discapacidad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.discapacidad)
                    </td>
                    <td>
                        <a class="boton editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="boton detalles" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        <a class="boton eliminar" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="mensaje">Uste no se ha identificado</h1>
    <h4>Por favor inicie sesión para acceder a este apartado</h4>
    <img src="~/css/pagina bloqueda.png" style="width:400px;height:400px;">
}
