@model CLINICA_CRUD.Models.Cita

@{
    ViewData["Title"] = "Borrar cita";
}


<h3>¿Esta seguro de eliminar esta cita?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPaciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPaciente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="boton eliminar" style="margin:10px 15px 10px 0px" />
        <a asp-action="Index">Volver al listado</a>
    </form>
</div>
