@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model CLINICA_CRUD.Models.Cita

@{
    ViewData["Title"] = "Borrar cita";
}

@if (SignInManager.IsSignedIn(User))
{
    <h3>¿Esta seguro de eliminar esta cita?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FKpacienteId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FKpacienteId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Motivo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Motivo)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Borrar" class="boton eliminar" style="margin:10px 15px 10px 0px" />
            <a asp-action="Index">Volver al listado</a>
        </form>
    </div>
}
else
{
    <h1 class="mensaje">Uste no se ha identificado</h1>
    <h4>Por favor inicie sesión para acceder a este apartado</h4>
    <img src="~/css/pagina bloqueda.png" style="width:400px;height:400px;">
}
