@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model CLINICA_CRUD.Models.RegistroMedico

@{
    ViewData["Title"] = "Detalles";
}
@if (SignInManager.IsSignedIn(User))
{
    <h1>Detalles</h1>

    <div>
        <h4>Registro Médico</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FKpaciente)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FKpaciente.Nombre) @Html.DisplayFor(model => model.FKpaciente.Apelido)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FKalergia)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FKalergia.alergia)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FKdiscapacidad)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FKdiscapacidad.discapacidad)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FKenfermedad)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.FKenfermedad.enfermedad)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Tratamiento)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Tratamiento)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" class="boton editar" asp-route-id="@Model?.Id" style="margin-top:10px; margin-bottom:10px">Editar</a>
        <a asp-action="Index">Volver al listado</a>
    </div>
}
else
{
    <h1 class="mensaje">Uste no se ha identificado</h1>
    <h4>Por favor inicie sesión para acceder a este apartado</h4>
    <img src="~/css/pagina bloqueda.png" style="width:400px;height:400px;">
}